@model IEnumerable<GamePlatform.Domain.Domain.Game>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameTitle)
            </td>
            <td style="width: 20rem">
                @Html.DisplayFor(modelItem => item.GameDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReleased)
            </td>
            <td>
                <img style="height: 15rem; width: 10rem" src="@Html.DisplayFor(modelItem => item.GameImage)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-success">Add to Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
